ion-toolbar {
    --bacground: #f5f5f3;
}

ion-content {
    --background: url(/assets/bg.jpg) no-repeat center/cover fixed;

    #header {
       display: flex;
       flex-direction: column;
       align-items: center;

       h1 {
        font-weight: 700;
        font-size: 26px;
        color: #010100;
        margin-bottom: 15%;
       }
       
       img {
        width: 275px;
        height: 300px;
       }
    }

    #form {
        margin-top: 15%;
        padding-left: 30px;
        padding-right: 30px;

        ion-button {
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.5);
            --box-shadow: none;
        }
    }
}