ion-content {
    --background: url(/assets/bg.jpg) no-repeat center/cover fixed;
 
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
       
        img {
         width: 100px;
         height: 110px;
 
       
        }
 
     }
 
}
